extends layout

block content
  .row
    .sixteen.columns
      .ui.fluid.input
        input(type="text", ng-model="group", placeholder="paste a subreddit/multireddit here")
  .row
    .sixteen.columns
      #player-div(style="height: 300px")
        iframe#yt-player(height="300px", width="100%")
      h1(ng-hide="{{angular.isUndefined(current_youtube)}}") {{current_youtube.data.media.oembed.title}}  

block playbar
  #playbar
    p playbar

block comments
  #comments
    p comments

block sidebar
  #sidebar
    .ui.divided.list
      .item(ng-repeat="song in songs | media")
        i(class="{{song | icon}}")
        .content
          a.header(ng-click="set(song)") {{song.data.media.oembed.title}}  
