!!! 5
html
  head
    title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // SCRIPTS
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    // SCRIPTS END

    // STYLES
    link(rel="stylesheet", href="/linker/styles/app.css")
    // STYLES END

    // TEMPLATES
    
    // TEMPLATES END

    link(rel="stylesheet", href="/styles/semantic.css")
    link(rel="stylesheet", href="/linker/styles/app.css")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js")
  body
    #wrapper.ui.vertically.divided.grid
      .row
        .sixteen.wide.column
          block playbar
      .row
        .ten.wide.column
          block content
        .six.wide.column
         block sidebar
      .row
        .sixteen.wide.column
          block comments